/* ---- Returning CSS ---- */

/* Fonts */
@font-face {
  font-family: "Montserrat-Light"; /*Font name*/
  src: url("../fonts/Montserrat-Light.otf"); /*URL to font*/
}
/* End Fonts */

/* Effects */
/* Scroll Web Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9000;
  outline: 1px solid slategrey;
}
/* End Scroll Web Bar */

/* Top Button */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance {from {opacity: 0; transform: scale3d(0.3, 0.3, 0.3);} to {opacity: 1;}} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* zoomOut */
/* @keyframes btnExit {from { opacity: 1;} to {opacity: 0;transform: scale3d(0.3, 0.3, 0.3);}} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/* End Top Button */
/* End Effects */

/* Essentials */
html {
  scroll-behavior: smooth;
}
body {
  color: #000;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
}
h1 {
  font-size: 3.75em;
  font-family: "Montserrat", sans-serif;
  color: #ff9000;
}
h2 {
  font-size: 3em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  color: #05364d;
}
h2.custom {
  font-size: 2.25em;
  line-height: 48px;
}
h3 {
  font-size: 2.5em;
  font-family: "Montserrat-Light";
  color: #ff9000;
}
h4 {
  font-size: 2.25em;
  font-family: "Montserrat", sans-serif;
  color: #05364d;
}
h5 {
  font-size: 0.875em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: #999;
}
h6 {
  font-size: 0.6875em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: #999;
}
p {
  font-weight: 300;
  font-family: "Poppins", helvetica;
  line-height: 26px;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

.text-black {
  color: #000;
}
.text-blue {
  color: #05364d;
}
.poppins {
  font-family: "Poppins", helvetica;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* End Essentials */

/* Begin Navigation */
.navbar {
  transition: all 0.5s ease 0s;
}
button.navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler {
  border: none !important;
}
button:focus {
  outline: none !important;
}
li.nav-item {
  font-size: 1rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: #05364d;
  transition: 1s;
}
.navbar-light .navbar-nav .nav-item.active a {
  color: #ff9000;
}
.nav-link:hover {
  color: #ff9000 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
  transition: 1.5s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #05364d !important;
}
/* End Navigation */

/* Header */
.header {
  padding-top: 7.5rem;
  min-height: 100%;
  background: rgba(255, 144, 0, 0.9);
}
.header .container > * {
  margin-bottom: 30px;
}
.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.blueh {
  background: rgba(5, 54, 77, 0.9);
}

.heading {
  font-size: 2.75em;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.kaushan {
  font-size: 3.25em;
  font-weight: 300;
  font-family: "Kaushan Script", cursive;
  line-height: 1.3;
  letter-spacing: 1px;
  transform: rotate(-5deg);
}
.devider {
  height: 2px;
  width: 100px;
  margin: 1em auto 0px;
  background-color: #fff;
}
.project-style {
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
}
@media only screen and (max-width: 512px) {
  h1.kaushan {
    font-size: 2.5em !important;
  }
}
/* End Header */

.btn-custom {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.03em;
  background: #05364d !important;
  transition: 1s;
}
.btn-custom:hover {
  background: #ff9000;
}

#btn-top {
  display: none;
  position: fixed;
  width: 3em;
  height: 3em;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  color: #05364d;
  cursor: pointer;
  outline: none;
  border: 3px solid #05364d;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 995;
}
#btn-top:hover,
#btn-top:focus {
  background-color: #05364d;
  color: #fff;
}
@media only screen and (max-width: 512px) {
  #btn-top {
    width: 2em;
    height: 2em;
    border: 2px solid #05364d;
  }
}

.social-icon.social-icon-md {
  font-size: 1.5em;
}
.social-icon {
  list-style: none;
  line-height: 1em;
}
.social-icon.scheme-color a {
  color: #ff9000;
  transition: 1s;
}
.social-icon.scheme-color a:hover {
  color: #05364d;
}

/* Footer */
footer {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  background: rgba(255, 144, 0);
  color: #fff;
}
/* End Footer */

/* 404 Page */
.intro {
  background: url("../images/general/mountains.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.pnf {
  min-height: 100vh;
  background: rgba(5, 54, 77, 0.9);
}
.error {
  font-size: 6em;
  font-weight: 700;
}
button.btn-custom {
  background: #05364d;
  transition: 1s;
}
#top,
#bottom,
#left,
#right {
  position: fixed;
  background: #ff9000;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 2em;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
#top,
#bottom {
  left: 0;
  right: 0;
  height: 2em;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}
@media only screen and (max-width: 512px) {
  .error {
    font-size: 4em;
  }
  #top,
  #bottom {
    height: 1em;
  }
  #left,
  #right {
    width: 1em;
  }
}

/* End 404 Page */
